/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* RESET */
 /* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

img {
  display: block;
  /* width: 100%; */
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
/* END RESET */

    html,body {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    #root{
        height:100%;
        width:100%;
       
    }

    p{
        margin:0
    }

    li {
        list-style: none;
    }

    .login-page-container{
        height: inherit;
        width: inherit;
    }

    .red-yelp-stripe{
        height: 64px;
        display: flex;
        justify-content: center;
        background-color: rgb(205, 31, 32);
    }

    /* Content Body Below holds loginForm and image on right */
    .login-left-image-right{
        display: flex;
        justify-content: flex-start;
        max-width: 850px;
        margin: 10vh auto 0;

    }
    /* ends */

    /* div for LoginForm */
    .login-slash-login{
        display: flex ;
        justify-content: center;
        /* width: 50vw; */
        max-width: 400px;
        height: 100%;
        /* padding: 20%; */
    }
    .button-logins-box{
        margin: 10px 0;
    }

    button.lb{
        margin-bottom: 18px;
        padding: 10px 1px;
        border-radius: 5px;
       
    }

    .hr-with-text{
        display:flex;
        align-items: center;
        justify-content: center;
        color: #757280;
        margin: 20px 0;
    }

    .hr-text{
        margin: 0 20px 3px;
    }

    .hr-with-text::before{
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #757280;;
    }

    .hr-with-text::after{
        content: " ";
        width: 100%;
        height: 1px;
        background-color: #757280;;
    }

    
    .block-99{
         display: block;
         width: 99%
    }

    .facebook-button{
        color: white;
        background-color: rgb(22, 108, 240);
        border: 1px solid rgb(22, 108, 240);
        
    }

    .google-button{
        background-color: white;
        color: rgb(91, 91, 91);
        border: 1px solid rgb(91, 91, 91);
    }

    .apple-button{
        color: white;
        background-color: black;
        border: 1px solid white;
    }

    /* ends */

    /* In LoginFormContainer */
    .login-form{
        text-align: center;
        width: 50%;
        /* margin-top: 20vh; */
        margin: 40% auto 0;
    }

    .login-form-modal-container{
        text-align: center;
        padding: 40px;
        background-color: #FFF;
        border-radius: 8px;
        
        
    }

    .login-form-modal{
        background-color: #FFF;
        max-width: 400px;
    }

    .top-login-form-text{

        color:rgb(205, 31, 32);
        font-size: 1.5rem;
    }
    .sec-header-login-form{
        color: black;
        font-size: 1.0rem;
    }

    .forgot-password-small{
        font-size: 0.8rem;
        text-align: right;
        color: rgb(0, 104, 179);
        margin-bottom: 12px;
    }

    .sub-text-box{
        margin-top: 12px;
    }
    .small-text{
        font-size: 0.8rem;
        text-align: right;
        margin-bottom: 12px;
    }

    .red-login-button{
        color: white;
        background-color:rgb(205, 31, 32);
        padding: 10px 13px;
    }

    .sign-up-link{
        font-size: inherit;
        color: rgb(0, 104, 179);
        cursor: pointer;
    }

    /* ENDS login Form */


    

    /* Login page Image on right */
    .image-slash-login{
        display: flex;
        justify-content: center;
        width: 382px;
        margin-left:80px;
        /* height: 70vw; */
        /* padding: 20%; */

    }

    .fun-login-page-img{
        margin: auto;
    }

    input{
         border: 1px solid #999;
         text-align: left;
         padding:2px;
         margin-bottom:9px;
         /* margin-left: auto;
         margin-right: auto; */
         width: 100%;
         border-radius: 2px;
    }

    .logo-arrange-unit{
        /* min-width: 123px;  */
        min-width: 16%; 
        /* max-width: 10%; */
        /* margin-right: -5px; */
    }

    .icon-box-nav{
        min-width: 16%;
        /* max-width: 292px; */
        /* width: 123px; */
    }

    .fade-gray{
        color: rgb(179, 177, 187);
    }

    /* Search Bar Nav */
    .search-city-nav-container{
        min-width: 731px;
        max-width: 960px;
        height: 23px;
        padding: 11px;
        margin-bottom: 18px;
        background-color: #FFF;
        border-radius: 5px 0px 0px 5px;
    }
    .search-nav-max-width{
        /* min-width: 731px; */
        min-width: 5%;
        /* max-width: 831px; */
        max-width: 66%;
    }
    .header-container{
        display: flex;
        /* min-width: 5%; */
        max-width: 53%;
    }
    .right-header-nav{
        display: flex;
        justify-content: flex-end;
        min-width: 31%;
        max-width: 18%;
    }

    .search-shadow{
        box-shadow: 0 2px 18px rgb(0 0 0 / 15%);
    }

    .search-bar{
        /* width: 43vw; */
        width: 409px;
        font-size: 18px;
        height: 25px;
        margin: 0;
        padding: 0;
        /* border: none; */
        /* height: 2rem; */
        /* padding: 13px 16px; */
        /* border-radius: 4px 0 0 4px; */
    }

    .bar-v-line{
        content: "";
        /* top: 12px; */
        right: 0;
        bottom: 12px;
        width: 2px;
        background-color: rgb(236, 235, 237);
        margin: 0 12px;
    }

    .hero-nav-header{
        font-size: 18px;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-weight: 700;
        height: 23px;
        margin: 0 12px 0px 0px;
        padding: 0;
    }

    input.city-search-bar{
        /* width: 43vw; */
        width: 321px;
        height: 23px;
        margin: 0;
        padding: 0;
        /* border: none; */
        /* height: 2rem; */
        /* padding: 13px 16px; */
        /* border-radius: 4px 0 0 4px; */
    }
    .no-border{
        border: none;
    }

    .white{
        background-color: #fff;
    }
    .red-search-submit-button{
        /* display:block; */
        width: 56px;
        height: 45px;
        background-color: #f43939;
        position: relative;
        /* margin-right: 24px; */
        border-radius: 0px 8px 8px 0px;
    }

    .icon {
        position: absolute;
        color: white;
        top: 50%;
        left: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
    }

    .search-icon{
        font-size: 40px;
    }
    /* Search BAr End */

    .flex-row-start{
        display: flex;
        justify-content: flex-start;
    }

    .flex-row-align{
        align-items: center;
    }

    .biz-review-nav-text{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 3%;
    }

    .header-link{
        padding: 13px 16px;
    }
    /* Buttons Container */

    .login-signup-buttons-container{
        /* height: 100px; */
        margin-left: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .login-form-text-container{
        padding: 16px 0 0;
        margin-bottom: 32px;
    }

        .login-button{
            /* height: 40px; */
            color: rgb(38, 55, 53);
            border: 1px solid rgb(39, 55, 53);
            padding: 8px 16px;
            border-radius: 4px;
            margin-right: 15px;
        }

        .signup-clear{
            /* height: 40px; */
            color: white;
            background-color: #f43939;
            border: 1px solid #f43939;
            padding: 8px 16px;
            border-radius: 4px;
        }
    /* End Buttons Container */

    /* Second Nav */
    .search-nav-dropdowns-container{
        height: 60px;
    }

    .invisidiv-nav{
        /* width: 144px; */
        min-width: 15%;
        /* border: 3px solid red; */
    }

    .one-button-container{
        height: 60px;
        display:flex;
        align-items: center;
    }

        .search-nav-dropdowns{
            padding: 16px;
        }

    .small-data{
        margin: 0 0 16px;
    }

    /* .center-nav-image{
        margin: auto;
    } */

    /* div {
        display: block;
    } */

    .bold{
        font-weight: bold;
    }

    .m-r-4{
        padding-left: 1px;
        margin-right: 4px;
    }

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child-400 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  
}

.mt-8{
    margin-top: 8px;
}

.max-w-400{
    max-width: 400px;
}

.bold{
    font-weight: bold;
}

.legal-font{
    font-size: 12px;
    line-height: 1.5em;
}

.mr-5{
    margin-right: 5px;
}

#map-container{
    height: 500px;
}