// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// business Show Skeleton
.business-show-information-container{
    margin: 0px 142px;
    padding: 0px 40px;
}

.show-photo-scroller{
    height: 253px;
    width: 100%;
    border: 4px solid green;
}

.business-title{
    font-family: poppins;
    font-size: 48px;
    font-weight: 400;

}