// Place all the styles related to the businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// business Show Skeleton
.business-show-information-container{

    margin: 12px 142px 0;
    padding: 0px 40px;
    display: flex;
    justify-content: flex-start;
}

.show-left-column, .flex-col{
    width: 763px;
    padding: 0 48px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.show-right-column{
    width: 381px;
}

    .order-delivery-takeout{
        padding: 24px;
        // height: 268px;
        height: auto;
        border: 1px solid  rgb(236, 235, 237); 
        border-radius: 4px;
        margin-top: 17px;
    }

        

    .order-info-item{
        padding: 12px 0;
        border-bottom: 1px solid rgb(236, 235, 237);
        width: 331px;
    }
    
    .no-border{
            border-bottom: none;
        }

.show-photo-scroller{
    height: 253px;
    width: 100%;
    // border: 4px solid green;
}

    .show-photo-scroller-item{
        width: 25%;
        object-fit: cover;
        height: auto;
        margin-right: 2px;
    }

.business-title{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 900;

}

    .bottom-m-8{
        margin-bottom: 8px;
    }

    .checked-claimed{
        font-size: 1rem;
        font-family: "Open Sans";
        font-size: 14px;

        color: rgb(0, 104, 179);
        padding: 35px 0 0 0;
        margin-left: 15px;
    }

    .star-background{
        position: relative;
        width: 32px;
        height: 32px;
        background-color: RGB(255, 72, 54);
        border-radius: 25%;
        margin: 0 4px;
    }

        .rating-icons{
            position: absolute;
            top: 50%;
            left: 50%;
            height: 50%;
            color:white;
            transform: translate(-50%, -50%);   
        }

    .star-background-md{
        position: relative;
        width: 20px;
        height: 20px;
        background-color: RGB(255, 72, 54);
        border-radius: 25%;
        margin: 0 4px;
    }
        .rating-icons-md{
            position: absolute;
            font-size: 11px;
            top: 50%;
            left: 50%;
            height: 50%;
            color:white;
            transform: translate(-50%, -50%);   
        }

        .grey{
            color: grey;
        }
        

        .star-background-grey-sm{
            position: relative;
            background-color: gray;
            margin-right: 4px;
            color: white;
            width: 12px;
            height: 12px;
            border-radius: 25%;
        }

            .rating-icons-grey-sm{
            position: absolute;
            font-size: 7px;
            top: 50%;
            left: 50%;
            height: 65%;
            color:white;
            transform: translate(-50%, -50%);   
        }

    

        .icon-space{
            margin: 0px 1px;
        }


        .business-num-reviews{
            margin:0px 5px;
        }

        .business-details-reviews{
            padding: 3px 8px;
            font-family: "Open Sans";
            font-size: 12px;
            background-color: rgb(236, 235, 237);
            border-radius: 4px;
            margin-left: 5px;
        }

        .business-details-category-text{
            margin: 0px 16px;
        }

        .open-sans{
            font-family: Open Sans, Helvetica Neue, Helvetica,Arial, sans-serif;
            font-size: 16px;
        }

        .open-sans-md{
            font-family: Open Sans, Helvetica Neue, Helvetica,Arial, sans-serif;
            font-size: 14px;
        }

        .open-sans-sm{
            font-family: Open Sans, Helvetica Neue, Helvetica,Arial, sans-serif;
            font-size: 12px;
        }

        .small-edit-category-business-button{
            padding: 0px 6px;
            border: 1px solid #ccc;
            font-size: 12px;
            line-height: 18px;
            border-radius: 3px;
            color: rgb(106, 103, 117);
            background: transparent;
        }

        .red-button-long{
            background-color: #f43939;
            width: 160px;
            padding: 8px 16px;
            color: white;
            border-radius: 4px;
            font-size:17px;
            font-weight: 600;
            margin-right: 10px;
        }


            .starOutline-button{
                color: white;
                margin-right: 10px;
            }
        
        .white-button-med{
            background-color: white;
            width: 114px;
            padding: 8px 16px;
            border-radius: 4px;
            font-size: 17px;
            font-weight: 600;
            margin-right: 10px;
            border: 1px solid #bbbac0;
        }

        .white-button-sm{
            background-color: white;
            width: 75px;
            padding: 8px 16px;
            border-radius: 4px;
            font-size: 17px;
            font-weight: 600;
            margin-right: 10px;
            border: 1px solid #bbbac0;
        }

        .white-button-sm:hover, .white-button-med:hover {
            background-color: whitesmoke;
        }


            .icon-outline{
                color: black;
                margin-right: 10px;
            }

    .show-divider-section{
        padding-top: 32px;
        margin-top: 32px;
        
        border-top: 1px solid #eeeeef
    }

    .covid{
        height: 121px;
        border: 1px solid fuchsia;
    }

    .on-the-menu{
        height: 121px;
        border: 1px solid green;
    }

    .website-menu{
        height: 121px;
        border: 1px solid teal;
    }

    .blackish-icon{
        color: rgb(38, 35, 53);
        margin-right: 20px;
        font-size: 20px;
    }