// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    .review-avatar{
        width: 233px;
        height: 160px;
        border: 1px solid purple;
        margin-top: 8px;
    }

    .review-text-box-container{
        width:466px;
        
        margin-top: 8px;
    }

    .flex-col-full{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }