// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-signup{
    display:flex;

    justify-content: flex-end;
}
.personal-greeting{
    background-color: teal;
}

.session-view-container{
    // height: 738px;
    // width: 465px;
    height: 60%;
    width: 30%;
    margin-left: 5%;
    // background: rgb(255, 255, 255);
    background: rgb(140, 35, 45)
}
// d32323
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.credentials-input{
    padding: 13px 13px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.exit-x-box{
    position: absolute;
    // display:inline-block;
    top: 35px;
    right: 15px;
    padding: 8px;
    width: 24px;
    height: 24px;
}
.exit-x-author{
    position: relative;
}

.exit-x-content{
    position: absolute;
    cursor: pointer;
    color:rgb(187, 186, 192);
    top: 0;
    right:0;
    padding: 2px;
    border: 1px solid transparent;
}

.exit-x-content:hover{
    border: 1px solid rgb(187, 186, 192);
}

