// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-signup{
    display:flex;

    justify-content: flex-end;
}
.personal-greeting{
    background-color: teal;
}

.session-view-container{
    // height: 738px;
    // width: 465px;
    height: 60%;
    width: 30%;
    margin-left: 5%;
    // background: rgb(255, 255, 255);
    background: rgb(140, 35, 45)
}
// d32323
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.credentials-input{
    padding: 13px 13px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

.input-row{
    display: flex;
    justify-content: space-between;

}

.exit-x-box{
    position: absolute;
    // display:inline-block;
    top: 35px;
    right: 15px;
    padding: 8px;
    width: 24px;
    height: 24px;
}
.exit-x-author{
    position: relative;
}

.exit-x-content{
    position: absolute;
    cursor: pointer;
    color:rgb(187, 186, 192);
    top: 0;
    right:0;
    padding: 2px;
    border: 1px solid transparent;
}

.exit-x-content:hover{
    border: 1px solid rgb(187, 186, 192);
}

.user-medallion-container{
    width: 58px;
    height: 38px;
    position: relative;
    
    // border-left: none;

}

    .user-medallion-content{
        background: rgba(0, 0, 0, 0.25);
        // border: 1px solid rgba(0, 0, 0, 0.25);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        // display: block;
        // width: 100%;
        // height: 100%;
    }

    .avatar-medalion{
        height: 100%;
        width: 38px;
    }

    .medallion-options{
        width: 100%;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

        .medallion-wrapper{
            cursor: pointer;
            color: white;
        }

 .medallion-dropdown-container{
     background-color: white;
     margin-top: 10px;
     position: absolute;
     right: 0;
     z-index: 11;
     border: 1px solid rgba(0,0,0, 0.2);
     border-radius: 3px;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.20);
     box-sizing: border-box;
     
 }   

    .medallion-drop-down-content{
        // border: 1px solid lightgreen;
        
        padding: 12px;
        min-width: 217px;
    }

        .avatar-60-60{
            width: 60px;
            height: 60px;
            border-radius: 3px;
            margin-right: 10px;
        }

        .user-first{
            font-size: 14px;
            line-height: 1.28571em;
            font-weight: 700;
        }

        .user-zip{
            font-size: 12px;
            line-height: 2.0em;
            font-weight: 500;
        }

        .user-count{
            font-size: 12px;
            font-weight: 700;
        }


        .drop-down-wrapper{
            margin-top: 12px;
            border-top: 1px solid #e6e6e6;
            padding-top: 11px;
        }

            .drop-down-logout{
                cursor: pointer;
                color: rgb(0, 108, 202);
            }