// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.master-container{
    height: inherit;
    width: inherit;
}

.order-in-nav-container{
    background-color: rgb(244, 243, 244);
    height: 60px;
    width: 100%;
}

.nav-content-container{
    display:flex;
    justify-content: flex-start;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: rgb(244, 243, 244);
    // width: 100%;
}

.content-separator{
    width: 60%;
}